@import './base.css';

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url('@/assets/fonts/DIN Next LT Pro Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url('@/assets/fonts/DIN Next LT Pro Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'DIN Next LT Pro', sans-serif;
  background-color: #ffffff;
  color: #333333; /* Dark grey for better contrast */
}

/* Flex container to centralize layout */
.container {
  width: 80%;
  margin: 0 auto;
}
